.header {
    width: 95%;
    position: relative;
    z-index: 100;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-height: 10px;
    @media (min-width: $mobile-breakpoint){
        // margin-left: 5%;
        }
    &--fixed {
        z-index: 50;
        margin-left: 0%;
        position: fixed;
        width: 95%;
        display: grid;
        grid-template-columns: auto 25% 25%;
        margin-top: 0rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        max-height: 10px;
        padding-bottom: 1rem;
        background: white;
        
        @media (min-width: $mobile-breakpoint){
            margin-top: -6rem;
            margin-left: 5%;
            padding-top: 3rem;
            padding-bottom: 2rem;
            background: white;
            }
     

    }
    align-items: center;
    color:$blue;
    &__name{
        color: $blue;
        @include border-pink;
        width: 45px;
        margin-left: 13px;
        font-weight: 800;

        @media (min-width: $mobile-breakpoint){
            width: 45px;
            font-size: 18px;
            margin-left: 0;

            }
        &--home {
            width: 45px;
            margin-left: 13px;
            color: $blue;
            font-size: 18px;
            border-bottom: 10px $pink solid;
            line-height: 0.3em;
            font-weight: 800;
            @media (min-width: $mobile-breakpoint){
                width: 45px;
                margin-left: 0;
                border-bottom: 10px $pink solid;
                line-height: 0.3em;
                }
        }
        &--one {
            margin-left: 13px;
            width: 45px;
            font-weight: 800;
               @include border-pink;
                @media (min-width: $mobile-breakpoint){
                    width: 45px;
                    margin-left: 0;
                    }
        }
        &--two {
            margin-left: 13px;
            width: 45px;
            font-weight: 800;
           @include border-green;
            @media (min-width: $mobile-breakpoint){
                width:7%;
                margin-left: 0;
                }
            }
        &--three {
            margin-left: 13px;
            width: 45px;
            font-weight: 800;
               @include border-lightblue;
                @media (min-width: $mobile-breakpoint){
                    width: 45px;
                    margin-left: 0;
                    }
                }
        &--about {
            margin-left: 13px;
            width: 45px;
            font-weight: 800;
                @include border-green;
                @media (min-width: $mobile-breakpoint){
                    width: 45px;
                    margin-left: 0;
                    }
                }
    }
    &__projects  {
        width: 87px;
        @include border-pink;
        float: right;
        &--projects {
            width: 87px;
            float: right;
            font-size: 18px;
            border-bottom: 10px $pink solid;
            line-height: 0.3em;
        }
        @media (min-width: $mobile-breakpoint){
            width: 87px;
            }
            &--one {
                @include border-pink;
                float: right;
                width: 87px;
                @media (min-width: $mobile-breakpoint){
                    width: 87px;
                    }
            }
        &--two {
            @include border-green;
            float: right;
            width: 87px;
            @media (min-width: $mobile-breakpoint){
                width: 87px;
                }
        }
        &--three {
            @include border-lightblue;
            float: right;
           width: 87px;
            @media (min-width: $mobile-breakpoint){
               width: 87px;
                }
        }
        &--about {
            @include border-green;
            float: right;
           width: 87px;
            @media (min-width: $mobile-breakpoint){
               width: 87px;
                }
        }
    }
    &__about  {
        @include border-pink;
            width: 57px;
            margin-left: 1rem;
        @media (min-width: $mobile-breakpoint){
                width: 57px;
            }
            &--one {
                @include border-pink;
                    width: 57px;
                    margin-left: 1rem;

                @media (min-width: $mobile-breakpoint){
                        width: 57px;
                    }
            }
            &--two {
                @include border-green;
                    width: 57px;
                    margin-left: 1rem;
                @media (min-width: $mobile-breakpoint){
                        width: 57px;
                    }
            }
            &--three {
                @include border-lightblue;
                    width: 57px;
                    margin-left: 1rem;
                @media (min-width: $mobile-breakpoint){
                        width: 57px;
                    }
            }
            &--about {
                @include border-green;
                width: 57px;
                font-size:18px;
                border-bottom: 10px $green solid;
                line-height: 0.3em;
                margin-left: 1rem;
                @media (min-width: $mobile-breakpoint){
                        width: 57px;
                    }
            }
    }
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: auto 25% 25%;
    }
    &__item {
        display: inline-block;
    }
    &__links {
        text-decoration: none;
        color: $blue;
        font-weight: 800;
        font-size: 20px;
        // line-height: 1em;
        // :visited {
        //     text-decoration: none;
        //     color: $blue;
        // }
        // &:hover {
        //     border-bottom: 12px $green solid;  
        //     line-height: 0.5em;
        //     }
    }

}