.header {
    display: grid;
    grid-template-columns: auto 25% 25%;
    @media (min-width: $mobile-breakpoint){
        margin-left: 10%;
        }
    align-items: center;
    color:$blue;
    &__name{
        color: $blue;
        @include border-pink;
        width: 24%;
        margin-left: 13px;
        @media (min-width: $mobile-breakpoint){
            width: 45px;
            margin-left: 0;
            }
        &--one {
            margin-left: 13px;
                width: 24%;
               @include border-pink;
                @media (min-width: $mobile-breakpoint){
                    width: 45px;
                    margin-left: 0;
                    }
        }
        &--two {
            margin-left: 13px;
            width: 24%;
           @include border-green;
            @media (min-width: $mobile-breakpoint){
                width:7%;
                margin-left: 0;
                }
            }
        &--three {
            margin-left: 13px;
                width: 24%;
               @include border-lightblue;
                @media (min-width: $mobile-breakpoint){
                    width: 45px;
                    margin-left: 0;
                    }
                }
        &--about {
            margin-left: 13px;
                width: 24%;
                @include border-green;
                @media (min-width: $mobile-breakpoint){
                    width: 45px;
                    margin-left: 0;
                    }
                }
    }
    &__projects  {
        width: 84%;
        @include border-pink;
        @media (min-width: $mobile-breakpoint){
            width: 77px;
            }
            &--one {
                @include border-pink;
                width: 80%;
                @media (min-width: $mobile-breakpoint){
                    width: 77px;
                    }
            }
        &--two {
            @include border-green;
            width: 80%;
            @media (min-width: $mobile-breakpoint){
                width: 77px;
                }
        }
        &--three {
            @include border-lightblue;
            width: 80%;
            @media (min-width: $mobile-breakpoint){
                width: 77px;
                }
        }
        &--about {
            @include border-green;
            width: 80%;
            @media (min-width: $mobile-breakpoint){
                width: 77px;
                }
        }
    }
    &__about  {
        @include border-pink;
        width: 56%;
        @media (min-width: $mobile-breakpoint){
            width: 54px;
            }
            &--one {
                @include border-pink;
                width: 56%;
                @media (min-width: $mobile-breakpoint){
                    width: 54px;
                    }
            }
            &--two {
                @include border-green;
                width: 56%;
                @media (min-width: $mobile-breakpoint){
                    width: 54px;
                    }
            }
            &--three {
                @include border-lightblue;
                width: 56%;
                @media (min-width: $mobile-breakpoint){
                    width: 54px;
                    }
            }
            &--about {
                @include border-green;
                width: 56%;
                @media (min-width: $mobile-breakpoint){
                    width: 54px;
                    }
            }
    }
    &__item-links {
        text-decoration: none;
        color: $blue;
        // line-height: 1em;
        // :visited {
        //     text-decoration: none;
        //     color: $blue;
        // }
        // &:hover {
        //     border-bottom: 12px $green solid;  
        //     line-height: 0.5em;
        //     }
    }

}