body,html {
    font-family: $main-font;
    margin: 0;
    position: absolute;
    width: 100vw;
    // overflow-x: hidden;
    // width:100%;
    @media (min-width: 600px){
        position: relative;
        }
}

.header {
    display: grid;
    grid-template-columns: auto 25% 25%;
    @media (min-width: 600px){
        margin-left: 5%;
        }
    align-items: center;
    color:$blue;
    &__name{
        text-decoration: none;
        color: $blue;
        border-bottom: 3px $green solid;
        width: 34%;
        :visited {
            text-decoration: none;
            color: $blue;
        }
        :hover {
        // border-bottom: 10px $green solid;  
        }
        padding-left: 13px;
        @media (min-width: 600px){
        padding-left: 0
            }
    }
    &__projects  {
        border-bottom: 3px $green solid;
        width: 70%;
    }
    &__about  {
        border-bottom: 3px $green solid;
        width: 52%;
    }
    &__item-links {
        text-decoration: none;
        color: $blue;
        line-height: 0.9em;
        :visited {
            text-decoration: none;
            color: $blue;
        }
        :hover {
            border-bottom: 10px $green solid;  
            display: inline-block;
            line-height: 0.3em;
            // transition: 0.1s;
            }
    }

}