body,html {
    font-family: $main-font;
    margin: 0;
    position: absolute;
    width: 100vw;
    // overflow-x: hidden;
    // width:100%;
    @media (min-width: $mobile-breakpoint){
        position: relative;
        }
}
.no-decoration-links {
    text-decoration: none;
    border-bottom: 3px $green solid;

}
.link-container {
    a:visited {
        color: $blue;
    }
}

.arrow {
    &__about {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 89%;
        z-index: 3;
        color: #3e3ec1;
        @media (min-width: $mobile-breakpoint){
            left: 50%;
            top: 92%;
            z-index: 3;
            color: #3e3ec1;
                }
    }
    &__project-two {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 109%;
        z-index: 3;
        color: #3e3ec1;
        @media (min-width: $mobile-breakpoint){
            left: 50%;
            top: 93%;
            color: #3e3ec1;
                }
    }
    &__project {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 89%;
        z-index: 3;
        color: #3e3ec1;
        @media (min-width: $mobile-breakpoint){
            left: 50%;
            top: 96%;
            color: #3e3ec1;
                }
    }
    &__index {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 25%;
        top: 78%;
        z-index: 3;
        color: #3e3ec1;
        @media (min-width: $mobile-breakpoint){
            left: 25%;
            top: 83%;
            z-index: 3;
            color: #3e3ec1;
                }
    }
}