
.vertical-slider {
  &__container {
    margin-bottom: 6rem;
  }
  &__counter-container {
    position: absolute;
  }
}

.vertical-slider-counter{
  display: none;
  @media (min-width: $mobile-breakpoint){
    display: unset;
    position: absolute;
    background: white;
    width: 27px;
    font-size: 20px;
    // padding-top: 100px;
    color: $blue;
    padding-bottom: 5px;
    right: 5.55%;
    top: 5%;
  }
  @media (min-width: $bigscreen-breakpoint){
    display: unset;
    position: absolute;
    right: 5.55%;
  }
  

}
.vertical-slider-line{
  display: none;
  @media (min-width: $mobile-breakpoint){
    display: unset;
    position: absolute;
    right: 6%;
    height: 85vh;
    }

  
}

.horizontal-slider-line {
  display: none;
  @media (max-width: $mobile-breakpoint){
    display: unset;
    bottom: 9%;
    width: 100%;
    position: absolute;
    }
}

.horizontal-slider-counter {
  display: none;
  @media (max-width: $mobile-breakpoint){
    display: unset;
    width: 20px;
    background: white;
    bottom: 4.5%;
    left: 15%;
    position: absolute;
    color:$blue;
    }
}

.slider-container-home {
  z-index: -1;
  left: 0;
  right: 0;
  top: 0%;
  height: 85vh;
  width: 80%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: $mobile-breakpoint){
    width: 100%;
    }
}
.vertical-slider-line-home{
display: none;
  @media (min-width: $mobile-breakpoint){
    position: absolute;
    display: unset;
    right: 6%;
    bottom: 7%;
    height: 80vh;
    }
}
.vertical-slider-counter-home{
display: none;
  @media (min-width: $mobile-breakpoint){
    position: absolute;
    display: unset;
    background: white;
    width: 33px;
    font-size: 20px;
    color: $blue;
    padding-bottom: 5px;
    right: 4.55%;
    top: 57%;
    }
    @media (min-width: $bigscreen-breakpoint){
      position: absolute;
      display: unset;
      background: white;
      width: 33px;
      font-size: 20px;
      color: $blue;
      padding-bottom: 5px;
      right: 5.55%;
      top: 65%;
      }
}
.horizontal-slider-line-home {
  display: none;
  @media (max-width: $mobile-breakpoint){
    display: unset;
    bottom: 2%;
    width: 100%;
    position: absolute;
    }
}

.horizontal-slider-counter-home {
  display: none;
  @media (max-width: $mobile-breakpoint){
    display: unset;
    width: 20px;
    background: white;
    bottom: 1%;
    left: 15%;
    position: absolute;
    color:$blue;
    }
}
.slider-container {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0%;
  height: 85vh;
  width: 80%;
  @media (max-width: $mobile-breakpoint){
    width: 100%;
    margin-top: 65px;
    z-index: 30;
    }
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}


.slider {
  position: relative;
  transition: 2s;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  margin: 0 -4px 0 0;
}
.pic1 {
  background-position: center;
  background-size: cover;
  background: $pink;
  // background-image: url("../images/projectone/bedrijvenportal/bedrijven-portal-home.png");
}

.pic2 {
  background-position: center;
  background-size: cover;
  background: $green;
  // background-image: url("img/pic2.jpeg");
}

.pic3 {
  background-position: center;
  background-size: cover;
  background: $light-blue;
  // background-image: url("img/pic3.jpeg");
}
.arrow-down {
  width: 5%;
  z-index: 100;

  position:absolute;
  left: 47.5%;
  bottom:17%;
  @media (min-width: $mobile-breakpoint){
  position: absolute;
  width: 2%;
  left: 49%;
  bottom: 17%;
    }
  // bottom: 15%;
  &__container {
    @media (min-width: $tablet-breakpoint){
      margin-top: 36rem;
      }
      @media (min-width: $standard-breakpoint){
        margin-top: 38rem;
        }
        @media (min-width: $bigscreen-breakpoint){
          margin-top: 36rem;
          }
          @media (min-width: 2000px){
            margin-top: 51rem;
            }
  }

  @media (min-width: $standard-breakpoint){
    // padding-top: 24rem;
    }
}


.arrow-up {
  // width: 5%;
  // top:0%;
  // position:absolute;
  // right: 50%;
  width: 5%;
  z-index: 4;
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 200;
  margin-top: 1rem;
  @media (min-width: $mobile-breakpoint){
    width: 2%;
      }
  &__container {
    @media (min-width: $mobile-breakpoint){
      margin-top: 0rem;
      }
  }

}
.arrow-up-home {
  width: 5%;
  bottom: 41%;
  z-index: 4;
  position:absolute;
  left: 47.5%;
  @media (min-width: $mobile-breakpoint){
    width: 2%;
    bottom: 43%;
    position:absolute;
    left: 50%;
    }
    @media (min-width: $standard-breakpoint){
      width: 2%;
      bottom: 43%;
      position:absolute;
      left: 50%;
      }
    @media (min-width: $bigscreen-breakpoint){
      width: 2%;
      bottom: 50%;
      left: 50%;
      }
      @media (min-width: 1800px){
        width: 2%;
        bottom: 46%;
        left: 50%;
        }
      
}
.arrow-down-home{
  width: 5%;
  left: 47.5%;
  z-index: 4;
  position: absolute;
  bottom: 6%;
  @media (min-width: $mobile-breakpoint){
    width: 2%;
    left: 50%;
    position: absolute;
    bottom: 5%;
    }
    @media (min-width: $standard-breakpoint){
      width: 2%;
      left: 50%;
      position: absolute;
      bottom: 8%;
      }
    @media (min-width: $bigscreen-breakpoint){
      width: 2%;
      left: 50%;
      position: absolute;
      bottom: 5%;
      }
}

.project-slider-page {
  width: 100vw;
  height: 100vh;
  @media (min-width: $mobile-breakpoint){
    width: 100vw;
    height: 100vh;
    position: fixed;
}

&__side-links {
  display: none;
  @media (min-width: $mobile-breakpoint){
      display: unset;
      line-height: 50;
      margin: 0 auto;
  }

  
}
&__side-link-wrapper {
  position: absolute;
  left: 3%;
  padding-top: 225px;
  @media (min-width: $bigscreen-breakpoint){
    padding-top: 450px;
}
}
  &__main-title-one {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 50%;
    z-index: 3;
    color: $blue;
    position: absolute;
    transform: translate(-50%, -50%);
    @media (min-width: $mobile-breakpoint){
        font-weight: 800;
        font-size: 72px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }
  }
  &__main-title-two {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 150%;
    color: $blue;
    position: absolute;
    transform: translate(-50%, -50%);
    @media (min-width: $mobile-breakpoint){
      font-weight: 800;
        font-size: 72px;
        position: absolute;
        left: 51%;
        top: 150%;
        transform: translate(-50%, -50%);
        }
  }
  &__main-title-three {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 250%;
    color: $blue;
    position: absolute;
    transform: translate(-50%, -50%);
    @media (min-width: $mobile-breakpoint){
      font-weight: 800;
        font-size: 72px;
        position: absolute;
        left: 52%;
        top: 250%;
        transform: translate(-50%, -50%);
        }
  }
  &__subtitle-one {
    font-size: 18px;
    left: 50%;
    top: 65%;
    color: $blue;
    position: absolute;
    transform: translate(-50%, -50%);
    @media (min-width: $mobile-breakpoint){
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        }
  }
  &__subtitle-two {
    font-size: 18px;
    left: 50%;
    top: 163%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    @media (min-width: $mobile-breakpoint){
      font-size: 18px;
        position: absolute;
        left: 50%;
        top: 163%;
        transform: translate(-50%, -50%);
        }
  }
  &__subtitle-three {
    font-size: 18px;
    left: 50%;
    top: 265%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    @media (min-width: $mobile-breakpoint){
      font-size: 18px;
        position: absolute;
        left: 50%;
        top: 265%;
        transform: translate(-50%, -50%);
        }
  }
}

.project-slider-number {

  &__one {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 540px;
    color: white;
    font-size: 500px;
    padding-top: 5rem;
    z-index: 3;
    @media (min-width: $mobile-breakpoint){
      font-size: 669px;
    }
  }
  &__two {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 540px;
    color: white;
    font-size: 500px;
    padding-top: 5rem;
    @media (min-width: $mobile-breakpoint){
      font-size: 669px;
    }
  }
  &__three {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 540px;
    color: white;
    font-size: 500px;
    padding-top: 5rem;
    @media (min-width: $mobile-breakpoint){
      font-size: 669px;
    }
  }
}

.bedrijven-portal-triangle-one {
  position: absolute;
  z-index: 2;
  top: 0%;
  width: 67%;
  @media (min-width: $mobile-breakpoint){
    top: 0%;
    width: 50%;
  }
}
.bedrijven-portal-triangle-two {
  position: absolute;
  z-index: 2;
  right: 0%;
  width: 53%;
  bottom: 2%;
  @media (min-width: $mobile-breakpoint){
    right: 5%;
    width: unset;
    bottom: 15%;
  }
}
.swop-triangle-one {
  position: absolute;
  z-index: 2;
  top: 105%;
  width: 81%;
  @media (min-width: $mobile-breakpoint){
    top: 108%;
    width: 41%;
  }

}
.swop-triangle-two {
  position: absolute;
  z-index: 2;
  width: 63%;
  top: 168%;
  right: -23%;
  transform: rotate(-10deg);
  @media (min-width: $mobile-breakpoint){
    top: 135%;
    right: 0%;
    width: 40%;
  }
}
.fraction-style {
  font-size:50px;
}
.subfraction-style {
  font-weight: 300;
}
