@import url('https://fonts.googleapis.com/css?family=Poppins:300,500');

$main-font: 'Poppins', sans-serif;

$blue:#3e3ec1;
$pink:#fce4e0;
$green:#e5ebd2;
$light-blue: #e4e9f8;

$mobile-breakpoint: 600px;