.about-page {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 0rem;
    @media (min-width: $mobile-breakpoint){
        grid-row-gap: 4rem;
        }
 

    &__link-decoration {
        @include border-green;
        display: inline-block;
        text-decoration: none;
        :visited {
            color: $blue;
        }
    }
    &__links {
        position: absolute;
        z-index: 3;
        right: 20%;
        bottom: 3%;
        @media (min-width: $mobile-breakpoint){
            right: 6%;
    
            }
    }


    &__skills {
        position: absolute;
    z-index: 3;
    left: 10%;
    bottom: 10%;
    width: 245px;
        @media (min-width: $mobile-breakpoint){
            position: absolute;
            z-index: 3;
            left: 3%;
            bottom: 13%;
            width: 300px;
            }
    }
    &__container-main {
        // text-align: center;
        position: relative;
        display: grid;
        @media (min-width: $mobile-breakpoint){
        grid-template-columns: 5% auto;
        padding-right:5%;
        }
        grid-template-columns:auto;
    }
    &__container-main-photo {
        // text-align: center;
        overflow: hidden;
        @media (min-width: $mobile-breakpoint){
        // grid-template-columns: 5% auto;
        // padding-right:5%;
        }
    }
    &__mainphoto {
        display: none;
        @media (min-width: $mobile-breakpoint){
            object-fit: cover;
            width: 100%;
            display: unset;
            }
    }
    &__mainphoto-mobile {
        object-fit: cover;
        width: 143%;
        height: 641px;
        @media (min-width: $mobile-breakpoint){
            display: none;
            }
    }

    &__container-text {
        display: grid;
        position: relative;
        grid-template-rows: auto 52%;
        // grid-row-gap: 5rem;
        @media (min-width: $mobile-breakpoint){
            grid-template-columns: auto 52%;
            margin-bottom: 10rem;
            }
  
    }
    &__container-text-info {
        margin-top: 20rem;
        // grid-row-gap: 5rem;
        @media (min-width: $mobile-breakpoint){

            }
  
    }
    &__container-start-images {
        grid-template-rows: auto auto;
        display: grid;
        position: relative;
        grid-row-gap: 16rem;

        @media (min-width: $mobile-breakpoint){
        grid-template-columns: 75% auto;
        grid-row-gap: 0;
        }
    }
    &__first-image-container {
        margin: 0 auto;
    }
    &__first-image {
        width:45%;
        @media (min-width: $mobile-breakpoint){
            width:100%;
        }

    }
    &__second-image-one {
        width:100%;
        @media (min-width: $mobile-breakpoint){
            width: 30%;
            margin-right: 10rem;
            float: right;
        }
    }
    &__third-image-one {
        // margin-left: 10rem;
        float: left;
        width: 30%;
    }
    &__fourth-image-one {
        width: 100%;
        @media (min-width: $mobile-breakpoint){
            width:unset;
            margin-left: 35rem;
        }
     
    }
    &__readmore {
        @media (min-width: $mobile-breakpoint){
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 89%;
            z-index: 3;
            color: $blue;
        }
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 85%;
        z-index: 3;
        color: $blue;
        border-bottom: 3px $pink solid;
        line-height: 1em;

    }
    &__readmore:hover{
        border-bottom: 10px $pink solid;
        line-height: 0.5em;
    }

    &__side-links {
        display: none;
        @media (min-width: $mobile-breakpoint){
            display: unset;
            line-height: 50;
            margin: 0 auto;
        }
        
    }
    &__main-title { 
        font-size: 18px;
        left: 34%;
        top: 27%;
        width: 217px;
        font-weight: 300;
        transform: translate(-50%, -50%);
        position: absolute;
        @media (min-width: $mobile-breakpoint){
            font-size: 18px;
            width: 300px;
            left: 32%;
            top: 21%;
            }
        @media (min-width: $standard-breakpoint){
            font-size: 24px;
            width: 600px;
            left: 32%;
            top: 37%;
            }
        @media (min-width: $bigscreen-breakpoint){
                font-size: 24px;
                width: 600px;
                left: 32%;
                top: 39%;
                }

        position: absolute;
    }

    &__subtitle-container{
       padding-left: 1rem;
       @media (min-width: $mobile-breakpoint){
        padding-left: 0;
        }
    }
    &__sub-title{
        font-size: 18px;
        font-weight: 500;
        left: 34%;
        width: 217px;
        top: 48%;
        position: absolute;
        transform: translate(-50%, -50%);
        @media (min-width: $mobile-breakpoint){
            font-size: 18px;
            width: 300px;
            left: 32%;
            top: 50%;
            }
        @media (min-width: $standard-breakpoint){
            font-size: 24px;
            width: 600px;
            left: 32%;
            top: 50%;
            }
        position:absolute;
        transform: translate(-50%, -50%);
    }
    &__subtitle-text{
        // width: 65%
    }
    &__inner-grid {
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 30rem;
        @media (min-width: $mobile-breakpoint){
            grid-template-columns: 50vw 50vw;
            margin-bottom: 20rem;
            }
    }
    &__row {
        width: 80%;
        margin: 0 auto;
        @media (min-width: $mobile-breakpoint){
            margin:0;
            }
        // margin: 0 auto;
    }
    &__text {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 100px;
    }
    &__triangle-one{
        bottom: 2%;
        width: 100%;
        position: absolute;
        @media (min-width: $mobile-breakpoint){
            width: unset;
            position: absolute;
            bottom: 0%;
            }

    }
    &__triangle-two{
        bottom: 0%;
        right: 0%;
        position: absolute;
    }
}