.homepage-wrapper { 
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 10rem;
    margin-top: 5rem;
@media (min-width: $mobile-breakpoint){
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-row-gap: 10rem;
    // height: 100%;
    }
}
.homepage-nested-grid {
    display: grid;
    grid-template-columns: 50% 50%;
   
    @media (min-width: $mobile-breakpoint){
        // grid-template-rows:auto auto;
        // grid-template-columns: auto;
        }
    &__item-one {
        grid-row-start: 2;
        @media (min-width: $mobile-breakpoint){
            grid-row-start: unset;
            }
    }
    &__item-two {
        margin-left: 5%;
        @media (min-width: $mobile-breakpoint){
            margin-left: 0%;
            }

    }
}
.homepage-nested-grid-controlpanel {
    display: grid;
    grid-template-rows: auto 60px;
    grid-template-columns: auto;
    height: 780px;
    @media (min-width: $mobile-breakpoint){
        grid-template-rows: 850px 850px 850px;
        grid-template-columns: auto 60px;
        height: 780px;
        }
    &__item-slide {
        margin: auto;
    }
}


.homepage {
    &__image {
        width: 100%;
        top: 15%;
        position: absolute;
        z-index: -1;
        @media (min-width: $mobile-breakpoint){
            padding-left: 20%;
            position: unset;
                }
    }
    &__under-image-link {
        text-align: center;
        padding-top: 10rem;
        color: $blue;
        // border-bottom: 3px $green solid;
        @media (min-width: $mobile-breakpoint){
            padding-top:0;
                }
    }
    &__title {
        font-size: 64px;
        font-weight: 800;
        @media (min-width: $mobile-breakpoint){
            font-size: 165px;
                }
    }
    &__subtitle-container {
        width: 67%;
    }
    &__subtitle {
        @media (min-width: $mobile-breakpoint){
        font-size: 38px;
            }
        font-size: 22px;
        font-weight : 300;
        font-style: normal;
    }
    &__subtitle-bold {
        font-size: 22px;
        font-weightx: 500;
        @media (min-width: $mobile-breakpoint){
            font-size: 38px;
                }
    }
}

.under-text-link{

    @media (min-width: $mobile-breakpoint){
        float: right;
        margin-right: 50px;
            }
    @media(min-width: $bigscreen-breakpoint){
        float: right;
        margin-right: 40%;
    }
}
.pink {
    @media (min-width: $mobile-breakpoint){
        margin-left: 60px;
        margin-top: 50px
            }

    background: $pink;
}.green {
    @media (min-width: $mobile-breakpoint){
        margin-left: 60px;
        margin-top: 50px
            }

    background: $green;
}.blue {
    @media (min-width: $mobile-breakpoint){
        margin-left: 60px;
        margin-top: 50px
            }

    background: $light-blue;
}

.image {
    &__outline {
        position: absolute;
        top: 0%;
        left: 7%;
        width: 42%;
        @media (max-width: $mobile-breakpoint){
            position: absolute;
            top: 16%;
            left: 4%;
            width: 77%;  
                }
    }
}

.project-slider-skills{
    &--one{
    width: 177px;
    position: absolute;
    padding-left: 59px;
    bottom: 19%;
    white-space: normal;
    @media (max-width: $mobile-breakpoint){
        padding-left: 30px;
            }
    }
    &--two{
        
    width: 177px;
    position: absolute;
    padding-left: 59px;
    bottom: -77%;
    white-space: normal;
    @media (max-width: $mobile-breakpoint){
        padding-left: 30px;
            }
    }
    &--three{
        
    width: 177px;
    position: absolute;
    padding-left: 59px;
    bottom: -178%;
    white-space: normal;
    @media (max-width: $mobile-breakpoint){
        padding-left: 30px;
            }
    }
    &__text{
        &--one{
            width: 177px;
            position: absolute;
            padding-left: 59px;
            bottom: 5%;
            white-space: normal;
            font-weight: 300;
            @media (max-width: $mobile-breakpoint){
                padding-left: 30px;
                bottom: 2%;
                    }
        }
        &--two{
            width: 177px;
            position: absolute;
            padding-left: 59px;
            bottom: -95%;
            white-space: normal;
            font-weight: 300;
            @media (max-width: $mobile-breakpoint){
                padding-left: 30px;
                    }
        }
        &--three{
            width: 177px;
            position: absolute;
            padding-left: 59px;
            bottom: -192%;
            white-space: normal;
            font-weight: 300;
            @media (max-width: $mobile-breakpoint){
                padding-left: 30px;
                    }
        }

    }
}

