.project-page {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(7,auto);
    grid-row-gap: 1rem;
    @media (min-width: 600px){
        grid-row-gap: 4rem;
        }
 
    &__container-mainphoto {
        // text-align: center;
        position: relative;
        display: grid;
        @media (min-width: 600px){
        grid-template-columns: 5% auto;
        padding-right:5%;
        }
        grid-template-columns:auto;
    }
    &__mainphoto {
        object-fit: cover;
        width: 100%;
        // @media (min-width: 600px){
        //     width: 1328px;
        //     height: 780px;
        //     }
    }
    &__container-text {
        display: grid;
        position: relative;
        grid-template-rows: auto 52%;
        grid-row-gap: 3rem;
        // grid-row-gap: 5rem;
        @media (min-width: 600px){
            grid-row-gap: 0rem;
            grid-template-columns: auto 62%;
            margin-bottom: 1rem;
            }
  
    }
    &__container-text-info {
        margin-top: 20rem;
        // grid-row-gap: 5rem;
        @media (min-width: 600px){

            }
  
    }
    &__container-start-images {
        grid-template-rows: auto auto;
        display: grid;
        position: relative;
        grid-row-gap: 16rem;

        @media (min-width: 600px){
        grid-template-columns: 75% auto;
        grid-row-gap: 0;
        }
    }
    &__first-image-container {
        margin: 0 auto;
    }
    &__first-image {
        width:45%;
        @media (min-width: 600px){
            width:100%;
        }

    }
    &__second-image-one {
        width:100%;
        @media (min-width: 600px){
            width: 30%;
            margin-right: 10rem;
            float: right;
        }
    }
    &__third-image-one {
        // margin-left: 10rem;
        float: left;
        width: 30%;
    }
    &__fourth-image-one {
        width: 100%;
        @media (min-width: 600px){
            width:unset;
            float: right;
            // margin-left: 35rem;
        }
     
    }
    &__readmore {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 76%;
        z-index: 3;
        color: $blue;
        @media (min-width: 600px){
            left: 50%;
            top: 93%;
        }
    }
    &__side-links {
        display: none;
        @media (min-width: 600px){
            display: unset;
            // line-height: 50;
            margin: 0 auto;
        }
        
    }
    &__main-title { 
        font-size: 24px;
        left: 50%;
        top: 50%;
        color: white;
        transform: translate(-50%, -50%);
        @media (min-width: 600px){
            font-size: 72px;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
            }

        position: absolute;
    }
    &__subtitle-container{
       padding-left: 1rem;
       @media (min-width: 600px){
        padding-left: 0;
        }
    }
    &__subtitle{
        font-size: 45px;
    }
    &__subtitle-text{
        font-weight:300;
        width: 100%;
        // width: 65%
        @media (min-width: 600px){
  
            width: 500px;
            }
    }
    &__skills-one {
        top: 17%;
        transform: translate(-50%, -50%);
        z-index: 3;
        position: absolute;
        left: 37%;    
        @media (min-width: 600px){
            top: 43%;
            transform: translate(-50%, -50%);
            text-align: left;
            left: 7%;
            width: 100px;
            }
    }
    &__skills-two {
        top: 15%;
        transform: translate(-50%, -50%);
        z-index: 3;
        left: 31%;
        position: absolute;
        @media (min-width: 600px){
            top: 15%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 3;
            left: 10%;
            }

    }
    &__skills-three {
        top: 19%;
        transform: translate(-50%, -50%);
        /* text-align: center; */
        z-index: 3;
        position: absolute;
        left: 29%;
        @media (min-width: 600px){
            top: 34%;
            transform: translate(-50%, -50%);
            z-index: 3;
            position: absolute;
            left: 15%;
            }
    }
    &__links-one {
        position: absolute;
        z-index: 3;
        right: 11%;
        bottom: 52%;
        @media (min-width: 600px){
            position: absolute;
            z-index: 3;
            right: 6%;
            bottom: 36%;
            }

    }
    &__links-two {
        position: absolute;
        z-index: 3;
        right: 11%;
        bottom: 52%;
        @media (min-width: 600px){
            position: absolute;
            z-index: 3;
            right: 8%;
            bottom: 60%;
            }
    }
    &__links-three {
        position: absolute;
        z-index: 3;
        right: 3%;
        bottom: 57%;
    }
    &__pink-triangle-one {
        width: 80%;
        bottom: 58%; 
        z-index: 2;
        position: absolute;
        @media (min-width: 600px){
            width: 22%;
            bottom: 0%;
            }
   
    }
    &__pink-triangle-two {
        width: 64%;
        z-index: 2;
        right: 0%;
        bottom: 34%;
        position: absolute;
    @media (min-width: 600px){
        width: 25%;
        bottom: 16%;
        }
    }
    &__links-container {
        grid-row-start: 1;
        @media (min-width: 600px){
            grid-row-start: unset;
            }
    }
    &__green-triangle-one {
        width: 61%;
        bottom: 46%;
        z-index: 2;
        position: absolute;
        @media (min-width: 600px){
            width: 22%;
            bottom: 0%;
            }
    }
    &__green-triangle-two {
        width: 54%;
        z-index: 2;
        right: 0%;
        bottom: 4%;
        position: absolute;
    @media (min-width: 600px){
        width: 25%;
        bottom: 0%;
        }
    }
    &__blue-triangle-one {
        width: 84%;
        bottom: 45%;    
        z-index: 2;
        position: absolute;

        @media (min-width: 600px){
            width: 40%;
            bottom: -50%;
            z-index: 2;
            }
    }
    &__blue-triangle-two {
        width: 18%;
        right: 0%;
        z-index: 2;
        position: absolute;
        padding-top: 6rem;
    }
}
.side-link {
    &__container {
    background: $blue;
    border-radius: 50%;
    width: 50px;
    overflow: hidden;
    height: 50px;
    margin-top: 20px;
    }
    &__wrapper {
        margin-top: 280px;
    }
}
.icon-link {
    width: 58%;
    margin: 0 auto;
    display: block;
    height: 100%;
}
.skills-list {
    font-weight: 300;
}