.project-page {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(7,auto);
    grid-row-gap: 1rem;
    @media (min-width: 600px){
        grid-row-gap: 4rem;
        }
 
    &__container-mainphoto {
        // text-align: center;
        position: relative;
        display: grid;
        @media (min-width: 600px){
        grid-template-columns: 5% auto;
        padding-right:5%;
        }
        grid-template-columns:auto;
    }
    &__mainphoto {
        object-fit: cover;
        width: 100%;
        // @media (min-width: 600px){
        //     width:100%;
        //     }
    }
    &__container-text {
        display: grid;
        position: relative;
        grid-template-rows: auto 52%;
        // grid-row-gap: 5rem;
        @media (min-width: 600px){
            grid-template-columns: auto 52%;
            margin-bottom: 10rem;
            }
  
    }
    &__container-text-info {
        margin-top: 20rem;
        // grid-row-gap: 5rem;
        @media (min-width: 600px){

            }
  
    }
    &__container-start-images {
        grid-template-rows: auto auto;
        display: grid;
        position: relative;
        grid-row-gap: 16rem;

        @media (min-width: 600px){
        grid-template-columns: 75% auto;
        grid-row-gap: 0;
        }
    }
    &__first-image-container {
        margin: 0 auto;
    }
    &__first-image {
        width:45%;
        @media (min-width: 600px){
            width:100%;
        }

    }
    &__second-image-one {
        width:100%;
        @media (min-width: 600px){
            margin-right: 10rem;
            float: right;
        }
    }
    &__third-image-one {
        // margin-left: 10rem;
        float: left;
        width: 30%;
    }
    &__fourth-image-one {
        width: 100%;
        @media (min-width: 600px){
            margin-left: 35rem;
        }
     
    }
    &__readmore {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 93%;
        z-index: 3;
        color: $blue;
    }
    &__side-links {
        display: none;
        @media (min-width: 600px){
            display: unset;
            line-height: 50;
        }
        
    }
    &__main-title { 
        font-size: 34px;
        left: 57%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: 600px){
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            }

        position: absolute;
    }
    &__subtitle-container{
       padding-left: 1rem;
    }
    &__subtitle{
        font-size: 45px;
    }
    &__subtitle-text{
        // width: 65%
    }
    &__skills-one {
        top: 18%;
        transform: translate(-50%, -50%);
        z-index: 3;
        position: absolute;
        left: 28%;
        @media (min-width: 600px){
            top: 20%;
            transform: translate(-50%, -50%);
            text-align: center;
            left: 10%;
            }
    }
    &__skills-two {
        top: 15%;
        transform: translate(-50%, -50%);
        z-index: 3;
        left: 31%;
        position: absolute;
        @media (min-width: 600px){
            top: 15%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 3;
            left: 10%;
            }

    }
    &__skills-three {
        top: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
        position: absolute;
        left: 8%;
    }
    &__links-one {
        position: absolute;
        z-index: 3;
        right: 11%;
        bottom: 52%;
        @media (min-width: 600px){
            position: absolute;
            z-index: 3;
            right: 6%;
            bottom: 36%;
            }

    }
    &__links-two {
        position: absolute;
        z-index: 3;
        right: 11%;
        bottom: 52%;
        @media (min-width: 600px){
            position: absolute;
            z-index: 3;
            right: 8%;
            bottom: 60%;
            }
    }
    &__links-three {
        position: absolute;
        z-index: 3;
        right: 3%;
        bottom: 57%;
    }
    &__pink-triangle-one {
        width: 61%;
        bottom: 50%;
        z-index: 2;
        position: absolute;
        @media (min-width: 600px){
            width: 22%;
            bottom: 0%;
            }
   
    }
    &__pink-triangle-two {
        width: 64%;
        z-index: 2;
        right: 0%;
        bottom: 34%;
        position: absolute;
    @media (min-width: 600px){
        width: 25%;
        bottom: 16%;
        }
    }
    &__links-container {
        grid-row-start: 1;
        @media (min-width: 600px){
            grid-row-start: unset;
            }
    }
    &__green-triangle-one {
        width: 61%;
        bottom: 46%;
        z-index: 2;
        position: absolute;
        @media (min-width: 600px){
            width: 22%;
            bottom: 0%;
            }
    }
    &__green-triangle-two {
        width: 54%;
        z-index: 2;
        right: 0%;
        bottom: 4%;
        position: absolute;
    @media (min-width: 600px){
        width: 25%;
        bottom: 0%;
        }
    }
    &__blue-triangle-one {
        width: 22%;
        bottom: 25%;
        z-index: 2;
        position: absolute;
    }
    &__blue-triangle-two {
        width: 18%;
        right: -1%;
        z-index: 2;
        position: absolute;
        padding-top: 6rem;
    }
}
