<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link rel="icon" href="../images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="../js/main.js"></script>
</head>
<body>
    <header class="header">
        <div>
            <a class="header__item-links" href="/"><h3 class="header__name">Faris</h3></a> 
        </div>
        <div>
            <a class="header__item-links" href="/projectone"><h4 class="header__projects">Projects</h4></a>
        </div>
        <div>
            <a class="header__item-links" href="/about"><h4 class="header__about">About</h4></a>
        </div>
    </header>
    <div class="about-page">
        <div class="about-page__container-main" >
                <div class="about-page__side-links">
                    <div class="side-link__wrapper">
                        <div class="side-link__container">
                            <a href="https://www.linkedin.com/in/faristangastani/"><img class="icon-link" src="../images/icons/linkedin-in-brands.svg" /></a>
                        </div>
                        <div class="side-link__container">
                            <a href="https://github.com/farisT"><img class="icon-link" src="../images/icons/github-alt-brands.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="about-page__container-main-photo">
                    <div class="about-page__main-title">Nice to meet you!</div>
                    <div class="about-page__sub-title">
                            As a Full-stack Developer I work mainly with React.js, Redux, Node.js and JavaScript (ES6).
                            <!-- I have experience in the field of hosting, databases, authentication, building components and making websites / platforms SEO 'ready'. -->
                            I ensure the delivery of a maintainable and scalable application with consistent code.
                    </div>
                    <img class="about-page__mainphoto" src="../images/about/groenfull.jpg">
                    <img class="about-page__mainphoto-mobile" src="../images/about/groen.jpg">
                    <div class="about-page__readmore">Read more</div>
                    <img  onclick="smoothScroll(document.getElementById('second'))" class="arrow__about" src="../images/etc/arrow.svg"/>
                </div>
            </div>
        <div>
            <div class="about-page__row">
                <div>
                    <img class="blue-triangle">
                </div>
                <div >
                    <h2 >About Faris</h2>
                    <div class="about-page__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod fugit eius animi consequatur quas quam amet placeat nesciunt 
                        repellendus similique voluptate repellat aut modi consectetur aliquam facere, explicabo tenetur tempora.
                    </div>
                </div>
                <a href="/projects">View projects</a>
            </div>
        </div>
        <div>
            <img />
        </div>
    </div>
    <footer>
        <div id="second">Scroll to here</div>
        <img class="triangle"/>
    </footer>
</body>
<script src="../js/main.js"></script>
</html>