<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />

</head>
<body>
    <header class="header">
        <div>
            <a class="header__item-links" href="/"><h3 class="header__name">Faris</h3></a> 
        </div>
        <div>
            <a class="header__item-links" href="/projectone"><h4 class="header__projects">Projects</h4></a>
        </div>
        <div>
            <a class="header__item-links" href="/about"><h4 class="header__about">About</h4></a>
        </div>
    </header>
        <div class="homepage-wrapper">
            <div class="homepage-wrapper__item homepage-nested-grid">
                <div class="homepage-nested-grid__item-one">
                    <img class="homepage__image" src='../images/homepage/home-face.png' />
                    <div class="homepage__under-image-link"><a href="/projects">Projects</a></div>
                </div>
                <div class="homepage-nested-grid__item-two">
                    <div class="homepage__title">Faris.</div>
                    <div class="homepage__subtitle-container" >
                        <div class="homepage__subtitle" >Im a motivated Dutch</div>
                        <div class="homepage__subtitle-bold">FULL-STACK DEVELOPER</div>
                        <div><a href="/about">More about me</a></div>
                    </div>
                </div>
            </div>
            <div class="homepage-wrapper__item homepage-nested-grid-controlpanel">
                <div class="pink project-grid">
                    Projects
                </div>
                <img  onclick="smoothScroll(document.getElementById('second'))" class="arrow__index" src="../images/etc/arrow.svg"/>
                <div class="vertical-slider-container">
                    <div class="vertical-slider-container__slider">
                            <div class="slider-counter">1/3</div>
                            <img src="../images/slider/Line.svg" />
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
<!-- <script src="../js/main.js"></script> -->
</html>