<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
</head>
<body>
    <header class="header">
        <a class="header__item" href="/"><h3 >Faris</h3></a> <a class="header__item-links" href="/projectone">Projects</a> <a class="header__item-links" href="/about">About</a>
    </header>
    <div class="project-page">
        <div class="project-page__container-mainphoto" >
            <div class="project-page__main-title">Title of Project</div>
            <img class="project-page__mainphoto" src="https://via.placeholder.com/1328x780">
            <div class="project-page__readmore">Read more!</div>
        </div>
        <div class="project-page__container-text">
            <div>
                <div class="project-page__skills">
                    <div>My skills</div>
                    <div>HTML,CSS,JavaScript</div>
                </div>
                <img class="project-page__triangle-one" src="../images/projectone/pinktriangleone.svg" />
            </div>
            <div>
                <h3 class="project-page__subtitle">Title of Project</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Id tenetur quisquam labore quaerat vero commodi reprehenderit delectus qui cupiditate pariatur.
                Fugiat quibusdam odit ipsa molestias, ex aliquam officiis. Beatae, dolores.
            </div>
        </div>
        <div class="project-page__container-start-images">
            <div class="project-page__first-image">
                <img class="" src="https://via.placeholder.com/800x533"/>
            </div>
            <div>
                <div class="project-page__links">
                    <div>My skills</div>
                    
                </div>
                <img class="project-page__triangle-two" src="../images/projectone/pinktriangletwo.svg" />
            </div>
        </div>
        <div>
            <img class=""/>
        </div>
        <div>
            <img class=""/>
        </div>
        <div>
            <img class=""/>
        </div>
        <div>
            <img class="project-slider-horizontal"/>
        </div>
    </div>
</body>
<script src="../js/main.js"></script>
</html>