<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
   
</head>
<body>
    <header class="header">
        <div>
            <a class="header__item-links" href="/"><h3 class="header__name">Faris</h3></a> 
        </div>
        <div>
            <a class="header__item-links" href="/projectone"><h4 class="header__projects">Projects</h4></a>
        </div>
        <div>
            <a class="header__item-links" href="/about"><h4 class="header__about">About</h4></a>
        </div>
    </header>
    <div class="container">
            <div class="slider">
                <div class="slide pic1"></div>
                <div class="slide pic2"></div>
                <div class="slide pic3"></div>
            </div>
        </div>
        <img src="../images/chevron-down.svg" class="arrow-down"/>
        <img src="../images/chevron-up.svg" class="arrow-up"/>
</body>
 <script src="../js/slider.js"></script>
</html>