@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700,800");
body, html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  position: absolute;
  width: 100vw; }
  @media (min-width: 600px) {
    body, html {
      position: relative; } }

.no-decoration-links {
  text-decoration: none;
  color: #3e3ec1; }
  .no-decoration-links__green {
    text-decoration: none;
    color: #3e3ec1;
    border-bottom: 3px #e5ebd2 solid; }
    .no-decoration-links__green:hover {
      border-bottom: 10px #e5ebd2 solid;
      line-height: 0.3em;
      display: inline-block; }
  .no-decoration-links__blue {
    text-decoration: none;
    color: #3e3ec1;
    border-bottom: 3px #e4e9f8 solid; }
    .no-decoration-links__blue:hover {
      border-bottom: 10px #e4e9f8 solid;
      line-height: 0.3em;
      display: inline-block; }
  .no-decoration-links__pink {
    text-decoration: none;
    color: #3e3ec1;
    border-bottom: 3px #fce4e0 solid;
    line-height: 1em; }
    .no-decoration-links__pink:hover {
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em;
      display: inline-block; }
    .no-decoration-links__pink:active {
      color: #26269e;
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em;
      display: inline-block; }

.link-container {
  z-index: 600;
  position: relative; }
  .link-container a:visited {
    color: #3e3ec1; }

.arrow__about {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 89%;
  z-index: 3;
  color: #3e3ec1; }
  @media (min-width: 600px) {
    .arrow__about {
      left: 50%;
      top: 92%;
      z-index: 3;
      color: #3e3ec1; } }

.arrow__project-two {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 109%;
  z-index: 3;
  color: #3e3ec1; }
  @media (min-width: 600px) {
    .arrow__project-two {
      left: 50%;
      top: 93%;
      color: #3e3ec1; } }

.arrow__project {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 89%;
  z-index: 3;
  color: #3e3ec1; }
  @media (min-width: 600px) {
    .arrow__project {
      left: 50%;
      top: 96%;
      color: #3e3ec1; } }

.arrow__index {
  padding-top: 20px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  left: 25%;
  top: 40%;
  z-index: 3;
  color: #3e3ec1; }
  @media (min-width: 600px) {
    .arrow__index {
      left: 25%;
      top: 45%;
      z-index: 3;
      color: #3e3ec1; } }

.four-o-four {
  font-size: 200px;
  color: #fce4e0;
  position: relative;
  text-align: center;
  margin-top: 50%; }
  .four-o-four__body {
    position: fixed; }
  @media (min-width: 600px) {
    .four-o-four {
      font-size: 607px;
      margin-top: 0; } }
  .four-o-four__text-container {
    position: absolute;
    left: 0;
    position: absolute;
    text-align: center;
    top: 63%;
    width: 100%;
    font-size: 35px;
    color: #3e3ec1; }
    @media (min-width: 600px) {
      .four-o-four__text-container {
        font-size: 72px;
        top: 30%; } }
  .four-o-four__link {
    font-size: 18px;
    text-decoration: none;
    color: #3e3ec1;
    border-bottom: 3px solid #e4e9f8; }

.header {
  display: grid;
  width: 95%;
  position: relative;
  z-index: 100;
  grid-template-columns: auto 25% 25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-height: 10px;
  align-items: center;
  color: #3e3ec1; }
  @media (min-width: 600px) {
    .header {
      margin-left: 5%; } }
  .header--fixed {
    z-index: 50;
    margin-left: 0%;
    position: fixed;
    width: 95%;
    display: grid;
    grid-template-columns: auto 25% 25%;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    max-height: 10px;
    padding-bottom: 1rem;
    background: white; }
    @media (min-width: 600px) {
      .header--fixed {
        margin-top: -6rem;
        margin-left: 5%;
        padding-top: 3rem;
        padding-bottom: 2rem;
        background: white; } }
  .header__name {
    color: #3e3ec1;
    border-bottom: 3px #fce4e0 solid;
    line-height: 1em;
    font-size: 18px;
    width: 45px;
    margin-left: 13px;
    font-weight: 800; }
    .header__name:hover {
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em; }
    .header__name:active {
      border-bottom: 10px #fce4e0 solid;
      color: #26269e;
      line-height: 0.3em; }
    @media (min-width: 600px) {
      .header__name {
        width: 45px;
        font-size: 18px;
        margin-left: 0; } }
    .header__name--home {
      width: 45px;
      margin-left: 13px;
      color: #3e3ec1;
      font-size: 18px;
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em;
      font-weight: 800; }
      @media (min-width: 600px) {
        .header__name--home {
          width: 45px;
          margin-left: 0;
          border-bottom: 10px #fce4e0 solid;
          line-height: 0.3em; } }
    .header__name--one {
      margin-left: 13px;
      width: 45px;
      font-weight: 800;
      border-bottom: 3px #fce4e0 solid;
      line-height: 1em;
      font-size: 18px; }
      .header__name--one:hover {
        border-bottom: 10px #fce4e0 solid;
        line-height: 0.3em; }
      .header__name--one:active {
        border-bottom: 10px #fce4e0 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__name--one {
          width: 45px;
          margin-left: 0; } }
    .header__name--two {
      margin-left: 13px;
      width: 45px;
      font-weight: 800;
      font-size: 18px;
      border-bottom: 3px #e5ebd2 solid;
      line-height: 1em; }
      .header__name--two:hover {
        border-bottom: 10px #e5ebd2 solid;
        line-height: 0.3em; }
      .header__name--two:active {
        border-bottom: 10px #e5ebd2 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__name--two {
          width: 7%;
          margin-left: 0; } }
    .header__name--three {
      margin-left: 13px;
      width: 45px;
      font-weight: 800;
      font-size: 18px;
      border-bottom: 3px #e4e9f8 solid;
      line-height: 1em; }
      .header__name--three:hover {
        border-bottom: 10px #e4e9f8 solid;
        line-height: 0.3em; }
      .header__name--three:active {
        border-bottom: 10px #e4e9f8 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__name--three {
          width: 45px;
          margin-left: 0; } }
    .header__name--about {
      margin-left: 13px;
      width: 45px;
      font-weight: 800;
      font-size: 18px;
      border-bottom: 3px #e5ebd2 solid;
      line-height: 1em; }
      .header__name--about:hover {
        border-bottom: 10px #e5ebd2 solid;
        line-height: 0.3em; }
      .header__name--about:active {
        border-bottom: 10px #e5ebd2 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__name--about {
          width: 45px;
          margin-left: 0; } }
  .header__projects {
    width: 87px;
    border-bottom: 3px #fce4e0 solid;
    line-height: 1em;
    font-size: 18px;
    float: right; }
    .header__projects:hover {
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em; }
    .header__projects:active {
      border-bottom: 10px #fce4e0 solid;
      color: #26269e;
      line-height: 0.3em; }
    .header__projects--projects {
      width: 87px;
      float: right;
      font-size: 18px;
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em; }
    @media (min-width: 600px) {
      .header__projects {
        width: 87px; } }
    .header__projects--one {
      border-bottom: 3px #fce4e0 solid;
      line-height: 1em;
      font-size: 18px;
      float: right;
      width: 87px; }
      .header__projects--one:hover {
        border-bottom: 10px #fce4e0 solid;
        line-height: 0.3em; }
      .header__projects--one:active {
        border-bottom: 10px #fce4e0 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__projects--one {
          width: 87px; } }
    .header__projects--two {
      font-size: 18px;
      border-bottom: 3px #e5ebd2 solid;
      line-height: 1em;
      float: right;
      width: 87px; }
      .header__projects--two:hover {
        border-bottom: 10px #e5ebd2 solid;
        line-height: 0.3em; }
      .header__projects--two:active {
        border-bottom: 10px #e5ebd2 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__projects--two {
          width: 87px; } }
    .header__projects--three {
      font-size: 18px;
      border-bottom: 3px #e4e9f8 solid;
      line-height: 1em;
      float: right;
      width: 87px; }
      .header__projects--three:hover {
        border-bottom: 10px #e4e9f8 solid;
        line-height: 0.3em; }
      .header__projects--three:active {
        border-bottom: 10px #e4e9f8 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__projects--three {
          width: 87px; } }
    .header__projects--about {
      font-size: 18px;
      border-bottom: 3px #e5ebd2 solid;
      line-height: 1em;
      float: right;
      width: 87px; }
      .header__projects--about:hover {
        border-bottom: 10px #e5ebd2 solid;
        line-height: 0.3em; }
      .header__projects--about:active {
        border-bottom: 10px #e5ebd2 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__projects--about {
          width: 87px; } }
  .header__about {
    border-bottom: 3px #fce4e0 solid;
    line-height: 1em;
    font-size: 18px;
    width: 57px;
    margin-left: 1rem; }
    .header__about:hover {
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em; }
    .header__about:active {
      border-bottom: 10px #fce4e0 solid;
      color: #26269e;
      line-height: 0.3em; }
    @media (min-width: 600px) {
      .header__about {
        width: 57px; } }
    .header__about--one {
      border-bottom: 3px #fce4e0 solid;
      line-height: 1em;
      font-size: 18px;
      width: 57px;
      margin-left: 1rem; }
      .header__about--one:hover {
        border-bottom: 10px #fce4e0 solid;
        line-height: 0.3em; }
      .header__about--one:active {
        border-bottom: 10px #fce4e0 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__about--one {
          width: 57px; } }
    .header__about--two {
      font-size: 18px;
      border-bottom: 3px #e5ebd2 solid;
      line-height: 1em;
      width: 57px;
      margin-left: 1rem; }
      .header__about--two:hover {
        border-bottom: 10px #e5ebd2 solid;
        line-height: 0.3em; }
      .header__about--two:active {
        border-bottom: 10px #e5ebd2 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__about--two {
          width: 57px; } }
    .header__about--three {
      font-size: 18px;
      border-bottom: 3px #e4e9f8 solid;
      line-height: 1em;
      width: 57px;
      margin-left: 1rem; }
      .header__about--three:hover {
        border-bottom: 10px #e4e9f8 solid;
        line-height: 0.3em; }
      .header__about--three:active {
        border-bottom: 10px #e4e9f8 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__about--three {
          width: 57px; } }
    .header__about--about {
      font-size: 18px;
      border-bottom: 3px #e5ebd2 solid;
      line-height: 1em;
      width: 57px;
      font-size: 18px;
      border-bottom: 10px #e5ebd2 solid;
      line-height: 0.3em;
      margin-left: 1rem; }
      .header__about--about:hover {
        border-bottom: 10px #e5ebd2 solid;
        line-height: 0.3em; }
      .header__about--about:active {
        border-bottom: 10px #e5ebd2 solid;
        color: #26269e;
        line-height: 0.3em; }
      @media (min-width: 600px) {
        .header__about--about {
          width: 57px; } }
  .header__item-links {
    text-decoration: none;
    color: #3e3ec1; }

.homepage-wrapper {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 10rem;
  margin-top: 5rem; }
  @media (min-width: 600px) {
    .homepage-wrapper {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 50% 50%;
      grid-row-gap: 10rem; } }

.homepage-nested-grid {
  display: grid;
  grid-template-columns: 50% 50%; }
  .homepage-nested-grid__item-one {
    grid-row-start: 2; }
    @media (min-width: 600px) {
      .homepage-nested-grid__item-one {
        grid-row-start: unset; } }
  .homepage-nested-grid__item-two {
    margin-left: 5%; }
    @media (min-width: 600px) {
      .homepage-nested-grid__item-two {
        margin-left: 0%; } }

.homepage-nested-grid-controlpanel {
  display: grid;
  grid-template-rows: auto 60px;
  grid-template-columns: auto;
  height: 780px; }
  @media (min-width: 600px) {
    .homepage-nested-grid-controlpanel {
      grid-template-rows: 850px 850px 850px;
      grid-template-columns: auto 60px;
      height: 780px; } }
  .homepage-nested-grid-controlpanel__item-slide {
    margin: auto; }

.homepage__image {
  width: 100%;
  top: 15%;
  position: absolute;
  z-index: -1; }
  @media (min-width: 600px) {
    .homepage__image {
      padding-left: 20%;
      position: unset; } }

.homepage__under-image-link {
  text-align: center;
  padding-top: 10rem;
  color: #3e3ec1; }
  @media (min-width: 600px) {
    .homepage__under-image-link {
      padding-top: 0; } }

.homepage__title {
  font-size: 64px;
  font-weight: 800; }
  @media (min-width: 600px) {
    .homepage__title {
      font-size: 153px;
      padding-top: 10rem;
      line-height: 1; } }
  @media (min-width: 1550px) {
    .homepage__title {
      font-size: 153px;
      padding-top: 16rem;
      line-height: 1; } }

.homepage__subtitle-container {
  width: 100%; }
  @media (min-width: 600px) {
    .homepage__subtitle-container {
      width: 482px; } }

.homepage__subtitle {
  font-size: 22px;
  font-weight: 300;
  font-style: normal; }
  @media (min-width: 600px) {
    .homepage__subtitle {
      font-size: 38px; } }

.homepage__subtitle-bold {
  font-size: 22px;
  font-weightx: 500; }
  @media (min-width: 600px) {
    .homepage__subtitle-bold {
      font-size: 38px; } }

@media (min-width: 600px) {
  .under-text-link {
    float: right;
    margin-right: 50px; } }

@media (min-width: 1550px) {
  .under-text-link {
    float: right;
    margin-right: 40%; } }

.pink {
  background: #fce4e0; }
  @media (min-width: 600px) {
    .pink {
      margin-left: 60px;
      margin-top: 50px; } }

.green {
  background: #e5ebd2; }
  @media (min-width: 600px) {
    .green {
      margin-left: 60px;
      margin-top: 50px; } }

.blue {
  background: #e4e9f8; }
  @media (min-width: 600px) {
    .blue {
      margin-left: 60px;
      margin-top: 50px; } }

.image__outline {
  position: absolute;
  top: 0%;
  left: 7%;
  width: 42%; }
  @media (max-width: 600px) {
    .image__outline {
      position: absolute;
      top: 16%;
      left: 4%;
      width: 77%; } }

.project-slider-skills--one {
  width: 177px;
  position: absolute;
  padding-left: 59px;
  bottom: 19%;
  white-space: normal; }
  @media (max-width: 600px) {
    .project-slider-skills--one {
      padding-left: 30px;
      bottom: 22%; } }

.project-slider-skills--two {
  width: 177px;
  position: absolute;
  padding-left: 59px;
  bottom: -81%;
  white-space: normal; }
  @media (max-width: 600px) {
    .project-slider-skills--two {
      padding-left: 30px;
      bottom: -75%; } }

.project-slider-skills--three {
  width: 177px;
  position: absolute;
  padding-left: 59px;
  bottom: -181%;
  white-space: normal; }
  @media (max-width: 600px) {
    .project-slider-skills--three {
      padding-left: 30px;
      bottom: -176%; } }

.project-slider-skills__text--one {
  width: 177px;
  position: absolute;
  padding-left: 59px;
  bottom: 5%;
  white-space: normal;
  font-weight: 300; }
  @media (max-width: 600px) {
    .project-slider-skills__text--one {
      padding-left: 30px;
      bottom: 2%; } }

.project-slider-skills__text--two {
  width: 177px;
  position: absolute;
  padding-left: 59px;
  bottom: -95%;
  white-space: normal;
  font-weight: 300; }
  @media (max-width: 600px) {
    .project-slider-skills__text--two {
      padding-left: 30px; } }

.project-slider-skills__text--three {
  width: 177px;
  position: absolute;
  padding-left: 59px;
  bottom: -192%;
  white-space: normal;
  font-weight: 300; }
  @media (max-width: 600px) {
    .project-slider-skills__text--three {
      padding-left: 30px; } }

.project-page {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(7, auto);
  grid-row-gap: 1rem; }
  @media (min-width: 600px) {
    .project-page {
      grid-row-gap: 4rem; } }
  .project-page__container-mainphoto {
    position: relative;
    display: grid;
    grid-template-columns: auto; }
    @media (min-width: 600px) {
      .project-page__container-mainphoto {
        grid-template-columns: 5% auto;
        padding-right: 5%; } }
  .project-page__number {
    position: absolute;
    font-weight: 800;
    font-size: 200px;
    left: 39%;
    color: rgba(255, 255, 255, 0.5);
    bottom: 20%; }
    @media (min-width: 600px) {
      .project-page__number {
        position: absolute;
        font-size: 600px;
        left: 37%;
        bottom: -14%; } }
    @media (min-width: 1200px) {
      .project-page__number {
        position: absolute;
        margin-top: 80px;
        font-size: 600px;
        top: -28%;
        left: 41%; } }
    @media (min-width: 1550px) {
      .project-page__number {
        position: absolute;
        margin-top: 80px;
        font-size: 600px;
        /* top: -28%; */
        left: 45.5%; } }
    @media (min-width: 2200px) {
      .project-page__number {
        position: absolute;
        font-size: 514px;
        margin-top: 80px;
        /* top: -28%; */
        left: 46.5%; } }
    .project-page__number--two {
      position: absolute;
      font-size: 200px;
      font-weight: 800;
      bottom: 20%;
      left: 35%;
      color: rgba(255, 255, 255, 0.5); }
      @media (min-width: 600px) {
        .project-page__number--two {
          position: absolute;
          font-size: 600px;
          margin-top: 80px;
          top: -28%;
          left: 37%; } }
      @media (min-width: 1550px) {
        .project-page__number--two {
          position: absolute;
          font-size: 600px;
          margin-top: 80px;
          top: -28%;
          left: 41%; } }
    .project-page__number--three {
      position: absolute;
      font-size: 200px;
      font-weight: 800;
      bottom: 15%;
      left: 33%;
      color: rgba(255, 255, 255, 0.5); }
      @media (min-width: 600px) {
        .project-page__number--three {
          position: absolute;
          font-size: 600px;
          margin-top: 80px;
          top: -28%;
          left: 38%;
          color: rgba(255, 255, 255, 0.5); } }
      @media (min-width: 1550px) {
        .project-page__number--three {
          position: absolute;
          font-size: 600px;
          margin-top: 80px;
          top: -28%;
          left: 40%; } }
  .project-page__mainphoto {
    object-fit: cover;
    width: 100%; }
    .project-page__mainphoto--one {
      height: 500px;
      width: 100%;
      object-fit: cover; }
    .project-page__mainphoto--two {
      height: 500px;
      width: 100%;
      object-fit: cover; }
    .project-page__mainphoto--three {
      height: 500px;
      width: 100%;
      object-fit: cover; }
    @media (min-width: 600px) {
      .project-page__mainphoto--one {
        height: 700px;
        width: 100%;
        object-fit: cover; }
      .project-page__mainphoto--two {
        height: 700px;
        width: 100%;
        object-fit: cover; }
      .project-page__mainphoto--three {
        height: 700px;
        width: 100%;
        object-fit: cover; } }
  .project-page__container-text {
    display: grid;
    position: relative;
    grid-template-rows: auto 52%;
    grid-row-gap: 3rem; }
    @media (min-width: 600px) {
      .project-page__container-text {
        grid-row-gap: 0rem;
        grid-template-columns: auto 50%;
        margin-bottom: 1rem; } }
  .project-page__container-text-info {
    margin-top: 20rem; }
  .project-page__container-start-images {
    grid-template-rows: auto auto;
    display: grid;
    position: relative;
    grid-row-gap: 16rem; }
    @media (min-width: 600px) {
      .project-page__container-start-images {
        grid-template-columns: 75% auto;
        grid-row-gap: 0; } }
  .project-page__first-image-container {
    margin: 0 auto; }
  .project-page__first-image {
    width: 45%; }
    @media (min-width: 600px) {
      .project-page__first-image {
        width: 60%;
        padding-left: 5rem; } }
  .project-page__second-image-one {
    width: 100%; }
    @media (min-width: 600px) {
      .project-page__second-image-one {
        width: 40%;
        margin-right: 10rem;
        float: right; } }
  .project-page__third-image-one {
    float: left;
    width: 30%;
    margin-bottom: 15rem; }
    @media (min-width: 600px) {
      .project-page__third-image-one {
        float: left;
        width: 60%;
        margin-left: 5rem;
        margin-bottom: 15rem; } }
  .project-page__fourth-image-one {
    width: 100%; }
    @media (min-width: 600px) {
      .project-page__fourth-image-one {
        width: unset;
        float: right; } }
  .project-page__readmore {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 76%;
    z-index: 3;
    color: #3e3ec1;
    border-bottom: 3px #fce4e0 solid;
    line-height: 1em;
    font-size: 18px; }
    .project-page__readmore:hover {
      border-bottom: 10px #fce4e0 solid;
      line-height: 0.3em; }
    .project-page__readmore:active {
      border-bottom: 10px #fce4e0 solid;
      color: #26269e;
      line-height: 0.3em; }
    @media (min-width: 600px) {
      .project-page__readmore {
        left: 50%;
        top: 93%; } }
  .project-page__readmore-two {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    z-index: 3;
    color: #3e3ec1;
    font-size: 18px;
    border-bottom: 3px #e5ebd2 solid;
    line-height: 1em; }
    .project-page__readmore-two:hover {
      border-bottom: 10px #e5ebd2 solid;
      line-height: 0.3em; }
    .project-page__readmore-two:active {
      border-bottom: 10px #e5ebd2 solid;
      color: #26269e;
      line-height: 0.3em; }
    @media (min-width: 600px) {
      .project-page__readmore-two {
        left: 50%;
        top: 90%; } }
  .project-page__readmore-three {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 76%;
    z-index: 3;
    color: #3e3ec1;
    font-size: 18px;
    border-bottom: 3px #e4e9f8 solid;
    line-height: 1em; }
    .project-page__readmore-three:hover {
      border-bottom: 10px #e4e9f8 solid;
      line-height: 0.3em; }
    .project-page__readmore-three:active {
      border-bottom: 10px #e4e9f8 solid;
      color: #26269e;
      line-height: 0.3em; }
    @media (min-width: 600px) {
      .project-page__readmore-three {
        left: 50%;
        top: 93%; } }
  .project-page__side-links {
    display: none; }
    @media (min-width: 600px) {
      .project-page__side-links {
        display: unset;
        margin: 0 auto; } }
  .project-page__main-title {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
    position: absolute; }
    @media (min-width: 600px) {
      .project-page__main-title {
        font-size: 72px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); } }
  .project-page__subtitle-container {
    padding-left: 2rem;
    padding-right: 2rem; }
    @media (max-width: 360px) {
      .project-page__subtitle-container {
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media (min-width: 600px) {
      .project-page__subtitle-container {
        padding-left: 0; } }
  .project-page__subtitle {
    font-weight: 800;
    font-size: 45px; }
    @media (max-width: 600px) {
      .project-page__subtitle {
        font-size: 30px; } }
  .project-page__subtitle-text {
    font-weight: 300;
    width: 100%;
    text-align: justify; }
    @media (min-width: 600px) {
      .project-page__subtitle-text {
        width: 500px; } }
  .project-page__skills-one {
    top: 17%;
    transform: translate(-50%, -50%);
    z-index: 3;
    position: absolute;
    left: 37%; }
    @media (min-width: 600px) {
      .project-page__skills-one {
        top: 3%;
        transform: translate(-50%, -50%);
        text-align: left;
        left: 11%;
        width: 200px; } }
    @media (min-width: 1550px) {
      .project-page__skills-one {
        top: 6%;
        transform: translate(-50%, -50%);
        text-align: left;
        left: 11%;
        width: 200px; } }
  .project-page__skills-two {
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 3;
    left: 36%;
    position: absolute; }
    @media (min-width: 600px) {
      .project-page__skills-two {
        top: 10%;
        transform: translate(-50%, -50%);
        text-align: left;
        width: 100px;
        z-index: 3;
        left: 7%; } }
  .project-page__skills-three {
    top: 21%;
    /* text-align: center; */
    z-index: 3;
    position: absolute;
    left: 12%;
    width: 100px; }
    @media (min-width: 1200px) {
      .project-page__skills-three {
        top: 10%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 200px;
        position: absolute;
        left: 12%; } }
  .project-page__links-one {
    position: absolute;
    z-index: 3;
    right: 11%;
    bottom: 52%; }
    @media (min-width: 600px) {
      .project-page__links-one {
        position: absolute;
        z-index: 3;
        right: 6%;
        bottom: 36%; } }
  .project-page__links-two {
    position: absolute;
    z-index: 3;
    right: 11%;
    bottom: 52%; }
    @media (min-width: 600px) {
      .project-page__links-two {
        position: absolute;
        z-index: 3;
        right: 5%;
        bottom: 64%; } }
  .project-page__links-three {
    position: absolute;
    z-index: 3;
    right: 12%;
    bottom: 51%;
    width: 100px;
    text-align: center;
    bottom: -3%; }
    @media (min-width: 600px) {
      .project-page__links-three {
        right: 2%;
        bottom: 51%;
        width: 100px;
        text-align: center; } }
  .project-page__pink-triangle-one {
    width: 71%;
    bottom: 64%;
    z-index: 2;
    position: absolute; }
    @media (max-width: 360px) {
      .project-page__pink-triangle-one {
        width: 71%;
        bottom: 67%; } }
    @media (min-width: 600px) {
      .project-page__pink-triangle-one {
        width: 22%;
        bottom: 41%;
        max-width: 388px; } }
  .project-page__pink-triangle-two {
    width: 64%;
    z-index: 2;
    right: 0%;
    bottom: 34%;
    position: absolute; }
    @media (min-width: 600px) {
      .project-page__pink-triangle-two {
        width: 25%;
        bottom: 16%; } }
  .project-page__links-container {
    grid-row-start: 1; }
    @media (min-width: 600px) {
      .project-page__links-container {
        grid-row-start: unset; } }
  .project-page__green-triangle-one {
    width: 67%;
    bottom: 58%;
    z-index: 2;
    position: absolute; }
    @media (min-width: 600px) {
      .project-page__green-triangle-one {
        transform: rotate(-47deg);
        width: 22%;
        bottom: 0%; } }
  .project-page__green-triangle-two {
    width: 54%;
    z-index: 2;
    right: 0%;
    bottom: 4%;
    position: absolute; }
    @media (min-width: 600px) {
      .project-page__green-triangle-two {
        bottom: 0%;
        width: 20%; } }
  .project-page__blue-triangle-one {
    width: 90%;
    bottom: 31%;
    z-index: 2;
    position: absolute; }
    @media (min-width: 600px) {
      .project-page__blue-triangle-one {
        width: 30%;
        bottom: -5%;
        z-index: 2; } }
  .project-page__blue-triangle-two {
    width: 78%;
    position: absolute;
    right: 0%;
    bottom: -4rem; }
    @media (min-width: 600px) {
      .project-page__blue-triangle-two {
        width: 18%;
        z-index: 2;
        padding-top: 6rem; } }

.side-link__container {
  background: #3e3ec1;
  border-radius: 50%;
  width: 40px;
  overflow: hidden;
  height: 40px;
  margin-top: 20px; }

.side-link__wrapper {
  display: grid;
  grid-template-columns: 5%; }
  @media (min-width: 600px) {
    .side-link__wrapper {
      margin-top: 12rem; } }
  @media (min-width: 1200px) {
    .side-link__wrapper {
      margin-top: 20rem; } }

.sub-icon-link__container {
  background: #3e3ec1;
  border-radius: 50%;
  width: 50px;
  overflow: hidden;
  height: 50px;
  margin-top: 20px;
  display: inline-block; }

.sub-icon-link__image-github {
  width: 58%;
  margin: 0 auto;
  display: block;
  height: 100%; }
  .sub-icon-link__image-github:hover {
    content: url("../../images/icons/github-alt-brands-pink.svg");
    background-repeat: no-repeat; }
  .sub-icon-link__image-github:active {
    content: url("../../images/icons/github-clicked.svg");
    background-repeat: no-repeat; }

.sub-icon-link__image-link {
  width: 58%;
  margin: 0 auto;
  display: block;
  height: 100%; }
  .sub-icon-link__image-link:hover {
    content: url("../../images/icons/link-pink.svg");
    background-repeat: no-repeat; }
  .sub-icon-link__image-link:active {
    content: url("../../images/icons/link-clicked.svg");
    background-repeat: no-repeat; }

.sub-icon-link__image-linkdin {
  width: 58%;
  margin: 0 auto;
  display: block;
  height: 100%; }
  .sub-icon-link__image-linkdin:hover {
    content: url("../../images/icons/linkedin-in-brands-pink.svg");
    background-repeat: no-repeat; }
  .sub-icon-link__image-linkdin:active {
    content: url("../../images/icons/linkedin-clicked.svg");
    background-repeat: no-repeat; }

.icon-link-linkdin {
  width: 40%;
  margin: 0 auto;
  display: block;
  height: 100%; }
  .icon-link-linkdin:hover {
    content: url("../../images/icons/linkedin-in-brands-pink.svg");
    background-repeat: no-repeat; }
  .icon-link-linkdin:active {
    content: url("../../images/icons/linkedin-clicked.svg");
    background-repeat: no-repeat; }

.icon-link-github {
  width: 40%;
  margin: 0 auto;
  display: block;
  height: 100%; }
  .icon-link-github:hover {
    content: url("../../images/icons/github-alt-brands-pink.svg");
    background-repeat: no-repeat; }
  .icon-link-github:active {
    content: url("../../images/icons/github-clicked.svg");
    background-repeat: no-repeat; }

.icon-link-link {
  width: 40%;
  margin: 0 auto;
  display: block;
  height: 100%; }
  .icon-link-link:hover {
    content: url("../../images/icons/link-pink.svg");
    background-repeat: no-repeat; }
  .icon-link-link:active {
    content: url("../../images/icons/github-alt-brands-pink.svg");
    background-repeat: no-repeat; }

.skills-list {
  font-weight: 300; }

.projects-scroll {
  width: 77px;
  margin: 0 auto;
  border-bottom: 3px #fce4e0 solid;
  line-height: 1em; }
  .projects-scroll:hover {
    border-bottom: 12px #fce4e0 solid;
    line-height: 0.5em; }

.arrow-left {
  width: 5%;
  z-index: 4;
  float: left;
  position: relative;
  left: 0%;
  bottom: 50%; }
  @media (min-width: 600px) {
    .arrow-left {
      position: relative;
      width: 2%;
      bottom: 55%; } }

.arrow-right {
  width: 5%;
  z-index: 4;
  float: right;
  position: relative;
  left: 0%;
  bottom: 50%; }
  @media (min-width: 600px) {
    .arrow-right {
      position: relative;
      width: 2%;
      bottom: 55%; } }

.project-slider-container {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 90%;
  height: 240px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap; }
  @media (min-width: 600px) {
    .project-slider-container {
      height: 267px;
      width: 80%;
      height: 267px; } }

.project-page-slider {
  position: relative;
  transition: 2s;
  height: 100%; }

.project-page-slide {
  width: 100%;
  height: 100%;
  margin: 0 -4px 0 0;
  display: inline-block; }
  .project-page-slide__number {
    font-size: 170px;
    text-align: center;
    vertical-align: middle;
    color: white; }
    @media (min-width: 600px) {
      .project-page-slide__number {
        font-size: 200px;
        text-align: center;
        color: white;
        padding-left: 20rem; } }
  .project-page-slide__title {
    position: absolute;
    left: 35%;
    top: 47%;
    color: #3e3ec1;
    font-weight: 800; }
    @media (min-width: 600px) {
      .project-page-slide__title {
        left: 58%; } }
    .project-page-slide__title--two {
      position: absolute;
      left: 144%;
      top: 47%;
      color: #3e3ec1;
      font-weight: 800; }
      @media (min-width: 600px) {
        .project-page-slide__title--two {
          left: 163%; } }
    .project-page-slide__title--three {
      position: absolute;
      left: 239%;
      top: 47%;
      color: #3e3ec1;
      font-weight: 800; }
      @media (min-width: 600px) {
        .project-page-slide__title--three {
          left: 260%; } }
  .project-page-slide__link {
    position: absolute;
    left: 42%;
    top: 59%;
    font-size: 10px;
    color: #3e3ec1;
    font-weight: 300; }
    @media (min-width: 600px) {
      .project-page-slide__link {
        left: 61%;
        top: 55%; } }
    .project-page-slide__link--two {
      position: absolute;
      left: 142%;
      top: 59%;
      font-size: 10px;
      color: #3e3ec1;
      font-weight: 300; }
      @media (min-width: 600px) {
        .project-page-slide__link--two {
          left: 162%;
          top: 55%; } }
    .project-page-slide__link--three {
      position: absolute;
      left: 242%;
      top: 59%;
      font-size: 10px;
      color: #3e3ec1;
      font-weight: 300; }
      @media (min-width: 600px) {
        .project-page-slide__link--three {
          left: 261%;
          top: 55%; } }
  .project-page-slide__triangle {
    position: absolute;
    width: 50%; }

.about-page {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 0rem; }
  @media (min-width: 600px) {
    .about-page {
      grid-row-gap: 4rem; } }
  .about-page__link-decoration {
    font-size: 18px;
    border-bottom: 3px #e5ebd2 solid;
    line-height: 1em;
    display: inline-block;
    text-decoration: none; }
    .about-page__link-decoration:hover {
      border-bottom: 10px #e5ebd2 solid;
      line-height: 0.3em; }
    .about-page__link-decoration:active {
      border-bottom: 10px #e5ebd2 solid;
      color: #26269e;
      line-height: 0.3em; }
    .about-page__link-decoration :visited {
      color: #3e3ec1; }
  .about-page__links {
    position: absolute;
    z-index: 3;
    right: 20%;
    bottom: 3%; }
    @media (min-width: 600px) {
      .about-page__links {
        right: 6%; } }
  .about-page__skills {
    position: absolute;
    z-index: 3;
    left: 10%;
    bottom: 10%;
    width: 245px; }
    @media (min-width: 600px) {
      .about-page__skills {
        position: absolute;
        z-index: 3;
        left: 3%;
        bottom: 13%;
        width: 300px; } }
  .about-page__container-main {
    position: relative;
    display: grid;
    grid-template-columns: auto; }
    @media (min-width: 600px) {
      .about-page__container-main {
        grid-template-columns: 5% auto;
        padding-right: 5%; } }
  .about-page__container-main-photo {
    overflow: hidden; }
  .about-page__mainphoto {
    display: none; }
    @media (min-width: 600px) {
      .about-page__mainphoto {
        object-fit: cover;
        width: 100%;
        display: unset; } }
  .about-page__mainphoto-mobile {
    object-fit: cover;
    width: 143%;
    height: 641px; }
    @media (min-width: 600px) {
      .about-page__mainphoto-mobile {
        display: none; } }
  .about-page__container-text {
    display: grid;
    position: relative;
    grid-template-rows: auto 52%; }
    @media (min-width: 600px) {
      .about-page__container-text {
        grid-template-columns: auto 52%;
        margin-bottom: 10rem; } }
  .about-page__container-text-info {
    margin-top: 20rem; }
  .about-page__container-start-images {
    grid-template-rows: auto auto;
    display: grid;
    position: relative;
    grid-row-gap: 16rem; }
    @media (min-width: 600px) {
      .about-page__container-start-images {
        grid-template-columns: 75% auto;
        grid-row-gap: 0; } }
  .about-page__first-image-container {
    margin: 0 auto; }
  .about-page__first-image {
    width: 45%; }
    @media (min-width: 600px) {
      .about-page__first-image {
        width: 100%; } }
  .about-page__second-image-one {
    width: 100%; }
    @media (min-width: 600px) {
      .about-page__second-image-one {
        width: 30%;
        margin-right: 10rem;
        float: right; } }
  .about-page__third-image-one {
    float: left;
    width: 30%; }
  .about-page__fourth-image-one {
    width: 100%; }
    @media (min-width: 600px) {
      .about-page__fourth-image-one {
        width: unset;
        margin-left: 35rem; } }
  .about-page__readmore {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 85%;
    z-index: 3;
    color: #3e3ec1;
    border-bottom: 3px #fce4e0 solid;
    line-height: 1em; }
    @media (min-width: 600px) {
      .about-page__readmore {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 89%;
        z-index: 3;
        color: #3e3ec1; } }
  .about-page__readmore:hover {
    border-bottom: 10px #fce4e0 solid;
    line-height: 0.5em; }
  .about-page__side-links {
    display: none; }
    @media (min-width: 600px) {
      .about-page__side-links {
        display: unset;
        line-height: 50;
        margin: 0 auto; } }
  .about-page__main-title {
    font-size: 18px;
    left: 34%;
    top: 27%;
    width: 217px;
    font-weight: 300;
    transform: translate(-50%, -50%);
    position: absolute;
    position: absolute; }
    @media (min-width: 600px) {
      .about-page__main-title {
        font-size: 18px;
        width: 300px;
        left: 32%;
        top: 21%; } }
    @media (min-width: 1200px) {
      .about-page__main-title {
        font-size: 24px;
        width: 600px;
        left: 32%;
        top: 37%; } }
    @media (min-width: 1550px) {
      .about-page__main-title {
        font-size: 24px;
        width: 600px;
        left: 32%;
        top: 39%; } }
  .about-page__subtitle-container {
    padding-left: 1rem; }
    @media (min-width: 600px) {
      .about-page__subtitle-container {
        padding-left: 0; } }
  .about-page__sub-title {
    font-size: 18px;
    font-weight: 800;
    left: 34%;
    width: 217px;
    top: 48%;
    position: absolute;
    transform: translate(-50%, -50%);
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .about-page__sub-title {
        font-size: 18px;
        width: 300px;
        left: 32%;
        top: 50%; } }
    @media (min-width: 1200px) {
      .about-page__sub-title {
        font-size: 24px;
        width: 600px;
        left: 32%;
        top: 50%; } }
  .about-page__inner-grid {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 30rem; }
    @media (min-width: 600px) {
      .about-page__inner-grid {
        grid-template-columns: 50vw 50vw;
        margin-bottom: 20rem; } }
  .about-page__row {
    width: 80%;
    margin: 0 auto; }
    @media (min-width: 600px) {
      .about-page__row {
        margin: 0; } }
  .about-page__text {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 100px;
    text-align: justify; }
  .about-page__triangle-one {
    bottom: 2%;
    width: 100%;
    position: absolute; }
    @media (min-width: 600px) {
      .about-page__triangle-one {
        width: unset;
        position: absolute;
        bottom: 0%; } }
  .about-page__triangle-two {
    bottom: 0%;
    right: 0%;
    position: absolute; }

.about-faris-title {
  font-weight: 800;
  font-size: 45px; }

.vertical-slider__container {
  margin-bottom: 6rem; }

.vertical-slider__counter-container {
  position: absolute; }

.vertical-slider-counter {
  display: none; }
  @media (min-width: 600px) {
    .vertical-slider-counter {
      display: unset;
      position: absolute;
      background: white;
      width: 27px;
      font-size: 20px;
      color: #3e3ec1;
      padding-bottom: 5px;
      right: 2.55%;
      top: 5%; } }
  @media (min-width: 1550px) {
    .vertical-slider-counter {
      display: unset;
      position: absolute;
      right: 2.55%; } }

.vertical-slider-line {
  display: none; }
  @media (min-width: 600px) {
    .vertical-slider-line {
      display: unset;
      position: absolute;
      right: 3%;
      height: 700px; } }

.horizontal-slider-line {
  display: none; }
  @media (max-width: 600px) {
    .horizontal-slider-line {
      display: unset;
      bottom: 11%;
      width: 100%;
      position: absolute; } }

.horizontal-slider-counter {
  display: none; }
  @media (max-width: 600px) {
    .horizontal-slider-counter {
      display: unset;
      width: 43px;
      background: white;
      bottom: 14%;
      height: 20px;
      z-index: 2;
      left: 15%;
      position: absolute;
      color: #3e3ec1; } }

.slider-container-home {
  z-index: -1;
  left: 0;
  right: 0;
  top: 0%;
  height: 750px;
  width: 80%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 600px) {
    .slider-container-home {
      width: 100%;
      height: 85vh; } }

.vertical-slider-line-home {
  display: none; }
  @media (min-width: 600px) {
    .vertical-slider-line-home {
      position: absolute;
      display: unset;
      right: 6%;
      bottom: 6%;
      height: 741px; } }

.vertical-slider-counter-home {
  display: none; }
  @media (min-width: 600px) {
    .vertical-slider-counter-home {
      position: absolute;
      display: unset;
      background: white;
      width: 33px;
      font-size: 20px;
      color: #3e3ec1;
      padding-bottom: 5px;
      right: 4.55%;
      top: 52%; } }
  @media (min-width: 1550px) {
    .vertical-slider-counter-home {
      position: absolute;
      display: unset;
      background: white;
      width: 33px;
      font-size: 20px;
      color: #3e3ec1;
      padding-bottom: 5px;
      right: 5.55%;
      top: 58%; } }

.horizontal-slider-line-home {
  display: none; }
  @media (max-width: 600px) {
    .horizontal-slider-line-home {
      display: unset;
      bottom: 4%;
      width: 100%;
      position: absolute; } }

.horizontal-slider-counter-home {
  display: none; }
  @media (max-width: 600px) {
    .horizontal-slider-counter-home {
      display: unset;
      width: 43px;
      background: white;
      bottom: 7%;
      height: 1px;
      left: 15%;
      z-index: -1;
      position: absolute;
      color: #3e3ec1; } }

.slider-container {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0%;
  height: 85vh;
  width: 90%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 600px) {
    .slider-container {
      width: 100%;
      margin-top: 65px;
      z-index: 30; } }

.slider {
  position: relative;
  transition: 2s;
  height: 100%; }

.slide {
  width: 100%;
  height: 100%;
  margin: 0 -4px 0 0; }

.pic1 {
  background-position: center;
  background-size: cover;
  background: #fce4e0; }

.pic2 {
  background-position: center;
  background-size: cover;
  background: #e5ebd2; }

.pic3 {
  background-position: center;
  background-size: cover;
  background: #e4e9f8; }

.arrow-down {
  width: 5%;
  z-index: 100;
  position: absolute;
  left: 47.5%;
  bottom: 17%; }
  @media (min-width: 600px) {
    .arrow-down {
      position: absolute;
      width: 2%;
      left: 49%;
      bottom: 17%; } }
  @media (min-width: 800px) {
    .arrow-down__container {
      margin-top: 36rem; } }
  @media (min-width: 1200px) {
    .arrow-down__container {
      margin-top: 38rem; } }
  @media (min-width: 1550px) {
    .arrow-down__container {
      margin-top: 36rem; } }
  @media (min-width: 2000px) {
    .arrow-down__container {
      margin-top: 51rem; } }

.arrow-up {
  width: 5%;
  z-index: 4;
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 200;
  margin-top: 1rem; }
  @media (min-width: 600px) {
    .arrow-up {
      width: 2%; } }
  @media (min-width: 600px) {
    .arrow-up__container {
      margin-top: 0rem; } }

.arrow-up-home {
  width: 5%;
  bottom: 43%;
  z-index: 4;
  position: absolute;
  left: 47.5%; }
  @media (min-width: 600px) {
    .arrow-up-home {
      width: 5%;
      bottom: 53%;
      z-index: 200;
      position: absolute;
      left: 47.5%; } }
  @media (min-width: 1200px) {
    .arrow-up-home {
      width: 2%;
      bottom: 46%;
      position: absolute;
      left: 50%; } }
  @media (min-width: 1550px) {
    .arrow-up-home {
      width: 2%;
      bottom: 50%;
      left: 50%; } }
  @media (min-width: 1800px) {
    .arrow-up-home {
      width: 2%;
      bottom: 46%;
      left: 50%; } }
  @media (min-width: 2200px) {
    .arrow-up-home {
      width: 2%;
      bottom: 41%;
      left: 50%; } }

.arrow-down-home {
  width: 5%;
  left: 47.5%;
  z-index: 4;
  position: absolute;
  bottom: 8%; }
  @media (min-width: 600px) {
    .arrow-down-home {
      width: 2%;
      left: 50%;
      position: absolute;
      bottom: 5%; } }
  @media (min-width: 1200px) {
    .arrow-down-home {
      width: 2%;
      left: 50%;
      position: absolute;
      bottom: 8%; } }
  @media (min-width: 1550px) {
    .arrow-down-home {
      width: 2%;
      left: 50%;
      position: absolute;
      bottom: 5%; } }

.project-slider-page {
  width: 100vw;
  height: 100vh; }
  @media (min-width: 600px) {
    .project-slider-page {
      width: 100vw;
      height: 100vh;
      position: fixed; } }
  .project-slider-page__side-links {
    display: none; }
    @media (min-width: 600px) {
      .project-slider-page__side-links {
        display: unset;
        line-height: 50;
        margin: 0 auto; } }
  .project-slider-page__side-link-wrapper {
    position: absolute;
    left: 1%;
    display: grid;
    grid-template-columns: 5%;
    margin-top: 20rem; }
    @media (min-width: 1550px) {
      .project-slider-page__side-link-wrapper {
        margin-top: 20rem; } }
    .project-slider-page__side-link-wrapper--index {
      position: absolute;
      left: 1%;
      display: grid;
      grid-template-columns: 5%;
      margin-top: 19.65rem; }
  .project-slider-page__main-title-one {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 50%;
    z-index: 3;
    color: #3e3ec1;
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .project-slider-page__main-title-one {
        font-weight: 800;
        font-size: 72px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); } }
  .project-slider-page__main-title-two {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 150%;
    color: #3e3ec1;
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .project-slider-page__main-title-two {
        font-weight: 800;
        font-size: 72px;
        position: absolute;
        left: 51%;
        top: 150%;
        transform: translate(-50%, -50%); } }
  .project-slider-page__main-title-three {
    font-size: 24px;
    font-weight: 800;
    left: 50%;
    top: 250%;
    color: #3e3ec1;
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .project-slider-page__main-title-three {
        font-weight: 800;
        font-size: 72px;
        position: absolute;
        left: 52%;
        top: 250%;
        transform: translate(-50%, -50%); } }
  .project-slider-page__subtitle-one {
    font-size: 18px;
    left: 53%;
    top: 65%;
    color: #3e3ec1;
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .project-slider-page__subtitle-one {
        font-size: 18px;
        position: absolute;
        left: 51.5%;
        top: 65%;
        transform: translate(-50%, -50%); } }
  .project-slider-page__subtitle-two {
    font-size: 18px;
    left: 50%;
    top: 163%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .project-slider-page__subtitle-two {
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 163%;
        transform: translate(-50%, -50%); } }
  .project-slider-page__subtitle-three {
    font-size: 18px;
    left: 50%;
    top: 265%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%); }
    @media (min-width: 600px) {
      .project-slider-page__subtitle-three {
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 265%;
        transform: translate(-50%, -50%); } }

.project-slider-number__one {
  width: 100%;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  line-height: 450px;
  color: white;
  font-size: 500px;
  padding-top: 5rem;
  z-index: 3; }
  @media (min-width: 360px) {
    .project-slider-number__one {
      line-height: 350px; } }
  @media (min-width: 600px) {
    .project-slider-number__one {
      font-size: 669px;
      line-height: 540px; } }
  @media (min-width: 1550px) {
    .project-slider-number__one {
      font-size: 669px;
      line-height: 800px; } }
  @media (min-height: 1330px) {
    .project-slider-number__one {
      font-size: 700px;
      line-height: 1000px; } }

.project-slider-number__two {
  width: 100%;
  text-align: center;
  font-weight: 800;
  vertical-align: middle;
  color: white;
  line-height: 350px;
  font-size: 500px;
  padding-top: 5rem; }
  @media (min-width: 600px) {
    .project-slider-number__two {
      font-size: 669px;
      line-height: 540px; } }
  @media (min-height: 1330px) {
    .project-slider-number__two {
      font-size: 700px;
      line-height: 1000px; } }

.project-slider-number__three {
  width: 100%;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  line-height: 350px;
  color: white;
  font-size: 500px;
  padding-top: 5rem; }
  @media (min-width: 600px) {
    .project-slider-number__three {
      font-size: 669px;
      line-height: 540px; } }
  @media (min-height: 1330px) {
    .project-slider-number__three {
      font-size: 700px;
      line-height: 1000px; } }

.bedrijven-portal-triangle-one {
  position: absolute;
  z-index: 2;
  top: 0%;
  width: 67%; }
  @media (min-width: 600px) {
    .bedrijven-portal-triangle-one {
      top: 0%;
      width: 50%; } }

.bedrijven-portal-triangle-two {
  position: absolute;
  z-index: 2;
  right: 0%;
  width: 53%;
  bottom: 2%; }
  @media (min-width: 600px) {
    .bedrijven-portal-triangle-two {
      right: 5%;
      width: unset;
      bottom: 15%; } }

.swop-triangle-one {
  position: absolute;
  z-index: 2;
  top: 105%;
  width: 81%; }
  @media (min-width: 600px) {
    .swop-triangle-one {
      top: 108%;
      width: 41%; } }

.swop-triangle-two {
  position: absolute;
  z-index: 2;
  width: 63%;
  top: 175%;
  right: -23%;
  transform: rotate(-10deg); }
  @media (min-width: 600px) {
    .swop-triangle-two {
      top: 135%;
      right: 0%;
      width: 40%; } }

.fraction-style {
  font-size: 50px; }

.subfraction-style {
  font-weight: 300; }
